*{ padding:0; margin:0; box-sizing: border-box}
body {font-family:"PingFang","Microsoft YaHei" ,"SimSun"; border:none; min-width: 900px;background:#f0f2f5; font-size:12px;color:#666;}
input,select,button,textarea{outline:none;}
table,tr,td,th{margin:0; padding:0;}
table {border-collapse:collapse;border-spacing:0;}
ol,li{ list-style-type:none;}
label,i{font-style:normal;font-weight: normal; margin-bottom: 0}
img{ border:0;max-width: 100%;}

a{color:#1890FF;text-decoration:none;outline:none;cursor: pointer}
a:hover,a:focus{color:rgba(24,144,255,0.9);text-decoration:none;outline:none;}
/*element-ui css reset*/
.el-button{padding:0 19px; font-size:12px;height:32px;line-height: 31px;}
.el-button--primary{background-color: #1890FF ;border-color: #1890FF ;}
.el-button--primary:focus, .el-button--primary:hover{background-color:rgba(24,144,255,0.9);border-color:rgba(24,144,255,0.9);}
.el-button--text{padding-left:0; padding-right:0}
.el-button--primary.is-disabled{background-color: #a0cfff!important; border-color: #a0cfff!important;}
/*table*/
.el-table thead{color: rgba(0,0,0,0.85);}
.el-table th{padding:8px 0; font-size:12px; background: #FAFAFA;height: 40px }
.el-table td{padding:4px 0;font-size: 12px;height: 40px}
.el-table::before{background: #E8E8E8}
.el-table .el-button--text{height:23px; line-height: 23px; }
.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{padding-left:24px;}
.el-table--fit .cell{padding-left:16px;}
.el-table--enable-row-hover .el-table__body tr:hover>td{background-color:#E6F7FF}
.el-table td, .el-table th.is-leaf{border-color:#E8E8E8;}

/*form*/
/*.el-form-item{margin-bottom: 24px}*/
.el-form-item__content{line-height: 32px;font-size:12px;}
.el-form-item__label{color: rgba(0,0,0,0.85);line-height: 32px;font-size:12px}
.el-form-item:last-child{margin-bottom: 0; margin-right: 0}
.el-textarea__inner{resize: none;font-size:12px;border-color: rgba(0,0,0,0.15); padding:5px 12px;}
.el-textarea__inner::-webkit-input-placeholder{color:rgba(0,0,0,0.25);}
.el-textarea__inner:-ms-input-placeholder{color:rgba(0,0,0,0.25);}
.el-textarea__inner::placeholder{color:rgba(0,0,0,0.25);}
.el-textarea__inner:hover{border-color:#dcdfe6}
.el-textarea__inner:focus{outline:0;border-color:#409EFF}
.el-textarea.is-disabled .el-textarea__inner::-webkit-input-placeholder{color:rgba(0,0,0,0.25);}
.el-textarea.is-disabled .el-textarea__inner:-ms-input-placeholder{color:rgba(0,0,0,0.25);}
.el-textarea.is-disabled .el-textarea__inner::placeholder{color:rgba(0,0,0,0.25);}
.el-input__inner{height:32px; line-height: 32px;font-size:12px;border-color: rgba(0,0,0,0.15); padding:0 12px;border-radius: 2px;}
.el-input__inner::-webkit-input-placeholder{color:rgba(0,0,0,0.25);}
.el-input__inner:-ms-input-placeholder{color:rgba(0,0,0,0.25);}
.el-input__inner::placeholder{color:rgba(0,0,0,0.25);}
.el-input__inner:hover{border-color:#dcdfe6}
.el-input.is-active .el-input__inner,.el-input__inner:focus{border-color:#409EFF;outline:0}
.el-radio__label{font-size: 12px;padding-left:8px}
.el-radio+.el-radio{margin-left: 24px}
.el-cascader{width: 100%; line-height: 32px;}
.el-cascader-menu__item{max-width: 200px;padding: 8px 30px 8px 20px;}
.el-checkbox__label{ font-size: 12px;}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
    border-color: #d9d9d9;
}

.el-input__icon{line-height: 32px}
.el-input--mini .el-input__icon{line-height: 24px}
.el-select{width: 100%;}
.el-select:hover .el-input__inner{border-color:#dcdfe6}
/*dialog*/
.el-dialog__wrapper{z-index: 100000!important;}
.el-dialog{border-radius: 4px;margin-bottom: 0!important;}
.el-dialog__header{border-bottom:1px solid rgba(0,0,0,0.09);padding:16px 24px;}
.el-dialog__title{font-size:14px;color:rgba(0,0,0,0.85);line-height: 22px;}
.el-dialog__headerbtn{top:19px; right:24px;font-size:14px;}
.el-dialog__headerbtn .el-dialog__close{color:rgba(0,0,0,0.25);}
.el-dialog__body{padding:0 24px;}
.el-dialog__footer{border-top:1px solid  rgba(0,0,0,0.09);padding: 10px 16px 10px;}
/*pagination*/
.el-pagination button, .el-pagination span:not([class*=suffix]){font-size:12px;}
.el-pagination__sizes .el-input .el-input__inner{font-size:12px;height: 24px;    line-height: 24px;}
.el-pagination__editor.el-input .el-input__inner{font-size:12px;height: 24px;}
.el-pagination .el-select .el-input .el-input__inner{padding-right:22px;}
.el-pagination .el-select .el-input{width: 84px}
.el-pager li{font-size:12px;color: rgba(0,0,0,0.65); font-weight: normal;min-width: 22px;  height: 22px;line-height: 22px;vertical-align: middle}
.el-pagination button, .el-pagination span:not([class*=suffix]){min-width: 24px;  height: 24px;line-height: 24px;vertical-align: middle}
.el-pager li.active{background: #1890FF;color:#fff;border-radius: 4px;}
.el-pagination__jump{margin-left:8px;}
.el-select-dropdown__item{font-size:12px}

/*操作成功失败提示*/
.el-message{  min-width: 170px; font-size: 14px;}
.message-success{    background: #d4f0df;    color: #1da653;}
.message-fail{ background: #ffdfe0;    color: #fb3a3a;  }
.message-warning{ background: #fdf6ec;    color: #e6a23c; }

.message-success .icon-success,.message-fail .icon-fail,.message-warning .icon-warning{ background:url("../images/icon-groups.png") no-repeat;  width: 24px;height: 24px;display: inline-block; margin-right: 6px;}
.message-success .icon-success{background-position: 0 0}
.message-fail .icon-fail{background-position: 0 -30px; }
.message-warning .icon-warning{background-position: 0 -60px;}
