*{ padding:0; margin:0; box-sizing: border-box}
body {font-family:"Microsoft YaHei" ,"SimSun"; border:none; min-width: 900px;background:#fff; font-size:12px;color:#666;}
input,select,button,textarea{outline:none;}
table,tr,td,th{margin:0; padding:0;}
table {border-collapse:collapse;border-spacing:0;}
ol,li{ list-style-type:none;}
label,i{font-style:normal;font-weight: normal; margin-bottom: 0}
img{ border:0;max-width: 100%;}
a{color:#1890FF;text-decoration:none;outline:none;}
a:hover,a:focus{color:rgba(24,144,255,0.9);text-decoration:none;outline:none;}

.error-page{ background: #F0F2F5; height: 100%; width: 100%; position: fixed;top:0;left:0; right:0; bottom:0 }
.error-page-inner{width:700px; margin: 0 auto;    height: 280px;    margin-top: calc(30vh);}
.error-page::after{clear:both;  content: " ";  display: table;}
.error-page .error-left{float: left; width: 230px;}
.error-page .error-right{float: right}
.error-page .error-cn{color:#333; margin-top: 46px;    letter-spacing: 10px;    font-weight: bolder;    font-size: 14px;}
.error-page .error-en{color:#999; margin-top: 10px;}
.error-page .error-btn{    display: inline-block;    width: 122px;    line-height: 44px;    font-size: 15px;    color: #508BEA;    border-radius: 22px;    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 13px 25px 0px rgba(86, 102, 194, .17);    box-shadow: 0px 13px 25px 0px rgba(86, 102, 194, .17);    text-align: center;    font-weight: 400;margin-top:40px;}