<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/leading-end/css/style.css' />
  </head>
  <body>
<div class="error-page">
    <div class="error-page-inner">
        <img src="/leading-end/images/bulb.png" class="error-left"/>
        <div class="error-right">
            <img src="/leading-end/images/error.png"/>
            <p class="error-cn">您当前访问的页面出错了！</p>
            <p class="error-en">The page you are visiting has gone wrong !</p>
            <a href="/leading-end" class="error-btn">返回首页</a>
        </div>
    </div>
</div>
</body>
</html>
